<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="bela.mi.vi"
      android:versionName="1.0.3" android:versionCode="4">
    <application android:icon="@drawable/ic_launcher_belamivi" android:label="@string/app_name" android:debuggable="false">
        <activity android:name=".MatchListActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlayerListActivity"
                  android:label="@string/player_list_activity_title">
        </activity>
        <activity android:name=".NewMatchActivity"
                  android:label="@string/new_match_activity_title">
        </activity>
        <activity android:name=".MatchActivity"
                  android:label="@string/match_activity_title">
        </activity>
        <activity android:name=".NewGameActivity"
                  android:label="@string/new_game_activity_title">
        </activity>
        <activity android:name=".SetListActivity"
                  android:label="@string/set_list_activity_title">
        </activity>
        <activity android:name=".GameActivity"
                  android:label="@string/game_activity_title">
        </activity>
        <activity android:name=".StatisticsActivity"
                  android:label="@string/statistics_activity_title">
        </activity>
        <activity android:name=".SettingsActivity"
                  android:label="@string/settings_activity_title">
        </activity>
    </application>
	<uses-sdk android:minSdkVersion="4"></uses-sdk>
</manifest> 